---
import "photoswipe/style.css"
import Layout from "@/layouts/Layout.astro"
import { api } from "@/lib/api"
import type { Photo } from "@/lib/types"
import Map from "@/components/map"

const { id } = Astro.params
if (!id) {
	throw new Error("No property ID provided")
}
const property = await api.getProperty(id)
const propertyPhotos = (property as { photos: Photo[] }).photos as Photo[]

while (propertyPhotos.length < 5) {
	const lastElement = propertyPhotos[propertyPhotos.length - 2]
	propertyPhotos.push(lastElement)
}
---

<Layout
	title={`VendeTuCasa | ${property!.title}`}
	description="Compra las mejores propiedades de la ciudad al mejor precio de mercado, contactanos por WhatsApp de Lunes a Viernes de 8hs a 17hs"
>
	<section class="mx-auto max-w-5xl px-4">
		<h1 class="mb-4 mt-6 text-3xl font-medium leading-tight">
			{property?.title}
		</h1>
		<section class="-mx-4">
			<div class="flex max-w-full snap-x gap-4 overflow-auto md:hidden">
				<img
					src={`${propertyPhotos[0].fields.file.url}`}
					alt=""
					class="h-[250px] snap-start"
					transition:name={`property-image-${id}`}
				/>
				{
					propertyPhotos
						.slice(1)
						.map((propertyImg) => (
							<img src={`${propertyImg.fields.file.url}`} alt="" class="h-[250px] snap-start" />
						))
				}
			</div>
		</section>

		<div class="relative hidden max-h-full overflow-x-hidden rounded-xl md:block">
			<div class="grid h-full grid-cols-3 grid-rows-2 gap-2 overflow-hidden" id="gallery">
				{
					propertyPhotos.map((propertyImg, index) => {
						return (
							<a
								href={`${propertyImg.fields.file.url}`}
								class:list={index === 0 ? "row-span-2 object-cover" : index > 4 ? "hidden" : ""}
								target="_blank"
							>
								<img
									src={`${propertyImg.fields.file.url}`}
									alt=""
									class="size-full object-cover"
									transition:name={index === 0 ? `property-image-${id}` : undefined}
								/>
							</a>
						)
					})
				}
			</div>
		</div>
		<hr class="my-10" />
		<article class="flex flex-col gap-6">
			<h2 class="text-2xl font-medium">Descripción</h2>
			<p class="mt-2 flex-grow">{property?.description}</p>
		</article>
		<hr class="my-10" />
		<section class="mb-12 flex flex-col gap-6">
			<h2 class="text-2xl font-medium">Ubicación</h2>
			<Map location={property?.localization} client:load />
		</section>
		<script>
			import PhotoSwipeLightbox from "photoswipe/lightbox"

			const lightbox = new PhotoSwipeLightbox({
				gallery: "#gallery",
				children: "a",
				pswpModule: () => import("photoswipe"),
			})

			lightbox.init()
		</script>
	</section>
</Layout>
