---
import CarouselDemo from "@/components/carousel-demo"

import Ruler from "@/components/icons/Ruler.astro"
import Bed from "@/components/icons/Bed.astro"
import Bath from "@/components/icons/Bath.astro"

const { photos, title, price, id, rooms, m2 } = Astro.props
---

<div>
	<CarouselDemo photos={photos} client:load transition:name="laperinola" transition:persist />
	<a href=`/property/${id}` transition:name={`property-${id}-animation`}>
		<h2 class="mt-2 line-clamp-1 truncate">
			{title}
		</h2>
		<h3 class="text-black/50">Victoria Aguirre 450</h3>
		<div class="flex flex-row gap-2 text-black/50">
			<span class="flex items-center gap-1"><Bed />{rooms}</span>
			<span class="flex items-center gap-1"><Bath />1</span>
			<span class="flex items-center gap-1"><Ruler />{m2} m²</span>
		</div>
		<span class="line-clamp-1 font-medium leading-loose text-black/80"
			>{
				price
					? price.toLocaleString("en-US", { style: "currency", currency: "USD" }).replace(".00", "")
					: "Consultar"
			}</span
		>
	</a>
</div>
